<app-error-formulario *ngIf="form?.invalid && form?.submitted"
  ><p>Todos los campos son obligatorios</p>
</app-error-formulario>
<div class="mx-3 md:mx-0" data-testId="pacientFormContainer">
  <h2
    class="font-black text-3xl text-center"
    data-testId="formContainerSubtitle"
  >
    Seguimiento pacientes
  </h2>
  <p class="text-xl mt-5 text-center mb-10">
    Añade pacientes y
    <span class="text-indigo-600 font-bold">administralos</span>
  </p>
  <form
    #form="ngForm"
    class="bg-white shadow-md rounded-lg py-10 px-5 mb-10"
    data-testId="pacientForm"
    (ngSubmit)="submit(form)"
  >
    <input data-testId="pacientIdInput" name="id" ngModel type="hidden" />
    <div class="mb-5">
      <label for="nombre" class="block text-gray-700 uppercase font-bold"
        >Nombre mascota:
      </label>
      <input
        class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md"
        data-testId="pacientNameInput"
        id="nombre"
        name="nombre"
        ngModel
        placeholder="Nombre de la mascota"
        required
        type="text"
      />
    </div>
    <div class="mb-5">
      <label for="propietario" class="block text-gray-700 uppercase font-bold"
        >Nombre propietario:
      </label>
      <input
        class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md"
        data-testId="pacientOwnerNameInput"
        id="propietario"
        name="propietario"
        ngModel
        placeholder="Nombre del propietario"
        required
        type="text"
      />
    </div>
    <div class="mb-5">
      <label class="block font-bold text-gray-700 uppercase" for="email"
        >Email:
      </label>
      <input
        class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md"
        data-testId="pacientEmailInput"
        id="email"
        name="email"
        ngModel
        placeholder="Email de contacto del propietario"
        required
        type="text"
      />
    </div>
    <div class="mb-5">
      <label class="block font-bold text-gray-700 uppercase" for="fechaAlta"
        >Fecha alta:
      </label>
      <input
        class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md"
        data-testId="signUpDateInput"
        id="fechaAlta"
        name="fechaAlta"
        ngModel
        required
        type="date"
      />
    </div>
    <div class="mb-5">
      <label class="block text-gray-700 uppercase font-bold" htmlFor="fecha">
        Sintomas:
      </label>
      <textarea
        class="border-2 w-full p-2 mt-2 placeholder-gray-400 rounded-md"
        data-testId="pacientSymptomsInput"
        id="sintomas"
        name="sintomas"
        ngModel
        placeholder="Describe los sintomas"
        required
      ></textarea>
    </div>
    <input
      [value]="!!form.value.id ? 'Editar paciente' : 'Agregar paciente'"
      class="bg-indigo-600 w-full p-3 text-white uppercase font-bold hover:bg-indigo-700 cursor-pointer transition-colors"
      data-testId="submitButtonId"
      type="submit"
    />
  </form>
</div>
